<div class="spec-reminder-title">
  {{#if isEditing}}
    {{input type="text" class="edit-title" value=model.title }}
    {{input type="date" class="edit-date" value=model.date }}
    {{input type="text" class="edit-notes" value=model.notes }}
    <button class="revert-button" hidden={{ unless model.hasDirtyAttributes "true"}} {{action "revertReminder" on="click"}}
    >Revert</button>
    <button
      class="save-button"
      {{action "saveReminder" on="click"}}
      >
      Save
    </button>
  {{else}}
    <h1>{{model.title}}</h1>
    <h1>{{model.date}}</h1>
    <h1>{{model.notes}}</h1>
    <button
      class="edit-button"
      {{action "editReminder" on="click"}}
    >
      Edit
    </button>
  {{/if}}
</div>
{{outlet}}
